* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: linear-gradient(to right, #377a7c, white);
    /* height: 100vh; */
}

.flex {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: 120px repeat(5, 100px);
    justify-content: center;
    align-content: center;
    /* justify-self: center; */
    /* height: 100vh; */

    border: 10px solid black;
    border-radius: 10px;
}

.output {
    background-color: rgba(0, 0, 0, 0.7);
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 20px;
}

.span2 {
    grid-column: span 2;
}

.prev {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
}

.next {
    font-size: 2.5rem;
    color: white;
}

button {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 1.4rem;
    outline: 0;
}

#ac,
#i1,
#i4,
#i7,
#dot {
    border-left: 0;
}

#dot,
#zero,
#zero2,
#min {
    border-bottom: 0;
}

#min,
#plus,
#div,
#mult,
#equal {
    border-right: 0;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
